body {
    margin: 15px;
}

header {
    margin-bottom: 15px;
    height: 140px;
    background-color: rgb(162, 209, 209);
}

section {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 600px;
}

.sidebar {
    margin-right: 15px;
    height: 100%;
    width: 20%;
    background-color: rgb(162, 209, 209);
}

.content {
    height: 100%;
    width: 80%;
    background-color: rgb(162, 209, 209);
}

footer {
    margin-top: 15px;
    height: 90px;
    background-color: rgb(162, 209, 209);
}